<div class="well">
  <div class="text-center">
    <small>Created by:</small>
  </div>
  <%= render "users/sumarized_user_info_list", user: @article.user %>
  <h1 class="text-center"><%= @article.title %></h1>
  <div class="article_description">
    <!-- Simple_format show the text as it is... if the user pressed enter, it'll keep this new line -->
    <p><%= simple_format(@article.description) %></p></br>
  </div>
  <!-- Show the Edit, Delete and View all Articles button -->
  <div class="article_actions">
    <%= link_to "View all articles", articles_path, class: "btn btn-success" %>
    <% if logged_in? && current_user == @article.user %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to "Delete", article_path(@article), method: :delete, class: "btn btn-danger",
                  data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
